@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --background: #060d17;
  --black: #000;
  --black-opacity: #000000a7;
  --white: #fff;
  --yellow: #ffae00;
  --grey: #999c9f;
  --input-background: #131a22;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: "Lato", Arial, sans-serif;
}

.landing-page-container {
  max-width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
}
.navbar-container {
  /* background-color: grey; */
  width: 100%;
  height: 105px;
}

.nav_sitename {
  /* background-color: rgb(60, 70, 79); */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 49px;
}

.site-name {
  color: var(--yellow);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.nav-icon {
  font-size: 20px;
  color: var(--grey);
  padding: 1px 15px;
  cursor: pointer;
}

.searchbar {
  margin: 0 auto;
  position: relative;
  width: calc(100% - 20px);
}

#searchInput {
  background-color: var(--input-background);
  color: var(--grey);
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 7px;
  outline: none;
  text-indent: 33px;
  font-size: 16px;
}

#searchIcon {
  color: var(--grey);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  margin-left: 10px;
  font-size: large;
}

.hide-element {
  display: none !important;
}

.content-container {
  width: 100%;
  color: var(--white);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  margin-bottom: 100px;
}

#searchResult {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-card {
  display: flex;
  gap: 10px;
  color: var(--grey);
  background-color: var(--input-background);
  width: 100%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.search-card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.search-card-title {
  color: var(--yellow);
  font-size: medium;
}

.search-card-info {
  color: var(--white);
  font-size: small;
}

.search-card-overview {
  font-size: small;
}

.search-card img {
  width: 100%;
  max-width: 100px;
  border-radius: 10px;
}

#loadMoreBtn{
  padding: 15px 20px;
  background-color: var(--yellow);
  color: var(--input-background);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

#movies {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

#tvShows {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.tv-label {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: var(--black-opacity);
  color: var(--grey);
  padding: 2px 7px;
  font-size: 10px;
  border-radius: 5px;
}

.card {
  width: 100%;
  min-width: 130px;
  max-width: 130px;
  position: relative;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
