@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --background: #060d17;
  --black: #000;
  --black-opacity: #00000088;
  --white: #fff;
  --yellow: #ffae00;
  --grey: #999c9f;
  --light-grey: #CCCCCC;
  --input-background: #131a22;
  --footer-background:#161e27;
  --skeleton-background: #161e27;

    --skeleton-gradient: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%
    ) var(--skeleton-background);

    @supports (-webkit-appearance: none) {
      :root {
        --skeleton-gradient: -webkit-linear-gradient(
          100deg,
          rgba(255, 255, 255, 0) 40%,
          rgba(255, 255, 255, .5) 50%,
          rgba(255, 255, 255, 0) 60%
        ) var(--skeleton-background);
      }
    }
}
  
  
  #info-page-container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: visible;
  }
  
  .navbar-container {
    width: 100%;
    height: 105px;
    z-index: 10;
  }
  
  .nav_sitename {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 49px;
  }
  
  .site-name {
    padding-left: 27px;
    color: var(--yellow);
    cursor: pointer;
  }
    
  a {
    text-decoration: none;
  }
  
  .nav-icon {
    font-size: 20px;
    color: var(--grey);
    padding: 1px 15px;
    cursor: pointer;
  }

  .user-icon_searchAndX-icon{
    display: flex;
    gap: 10px;
  }

  .searchbar {
    margin: 0 auto;
    position: relative;
    width: calc(100% - 20px);
    
  }

  
  #searchInput {
    background-color: var(--input-background);
    color: var(--grey);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 7px;
    outline: none;
    text-indent: 33px;
    font-size: 16px;
  }


  #inputSearchIcon {
    color: var(--grey);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    margin-left: 10px;
    font-size: large;
  }
  
  .hide-element {
    display: none !important;
  }
  
  
  #info-section-container{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 100px;
  }

  .info-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

.poster_backdrop {
    min-width: 380px;
    height: 100%;
    display: flex;
    align-items: center;
  }

.info-backdrop {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: -3;
  }

.info-backdrop img{
    width: 90%;
  }

.backdrop-gradient{ 
  height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    to right,
    var(--background) 10%,
    rgba(6, 13, 23, 0.7) 35%,
    rgba(6, 13, 23, 0.5) 50%,
    rgba(6, 13, 23, 0.4) 60%,
    rgba(6, 13, 23, 0.3) 70%,
    transparent 100%
  );  
  z-index: -2;
}

.poster_general-info{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: -1;
  backdrop-filter: blur(1px);
}
.info-poster {
  display: flex;
  align-content: center;
  gap: 15px;

}

.info-poster img{
    width: 25%;   
    border-radius: 10px;   
    box-shadow: 0em 15px 15px rgba(0, 0, 0, 0.7); 
    margin-left: 10px;
   }

.general-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-shadow: 2px 2px 4px #000000;
  padding-right: 5px;
}

.info{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--light-grey);
  margin-top: 6px;
  text-shadow: 2px 2px 4px #000000;
  
}

.genres{
  display: flex;
  gap: 5px;
  font-size: 0.8em;
  
  color: var(--light-grey);
  text-shadow: 2px 2px 4px #000000;
}
.rating{
  display: flex;
  color: var(--light-grey);
  margin-top: 15px;
  font-weight: bold;
}

.star{
  display: flex;
  align-items: center;
  gap: 2px;
}


.rating-number{
  font-size: 15px;
  color: var(--white);

} 
.total-stars{
  font-size: 13px;
}
  
.info-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    background-color: var(--input-background);
    min-width: 100%;
    width: 100%;
}



.tagline{
  color: var(--grey);
  padding: 10px 20px;
  /* margin-bottom: -25px; */
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.info-overview{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--light-grey);
    font-size: 15px;
    padding: 0px 20px;
}

.overview-header{
    color: var(--white);
}

.release-date{
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--light-grey);
  font-size: 15px;
  margin-top: 30px;
}

.production-companies{
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--grey);
  font-size: 15px;
  padding: 16px 20px;
}

.cast-container{
  padding: 16px 20px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

.cast-header{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.view-cast-text{
  font-size: 13px;
  color: var(--grey);
  cursor: pointer;
  text-decoration: underline;
}

.cast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  /* min-width: 130px; */
  min-width: 170px;
  overflow: hidden;
  padding-bottom: 15px;
}


.cast-card img {
  width: 100%;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  cursor: pointer;
}

.cast-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: var(--grey);
  white-space: wrap; /* add this */
  text-align: center; /* add this */
}

.recommendations{
  padding: 16px 20px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 10px;  
}


/****** Full Credits Page ********/
.changeResultTypes{
  display: flex;
  gap: 5px;
  padding: 16px 20px;
}
.resultTypeButton{
  background-color: transparent;
  color: var(--grey);
  padding: 5px 10px;
  border: 1px solid;
  cursor: pointer;
}

#loadCast.active,
#loadCrew.active{
  color: var(--yellow);
}

.credits-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
 
}

.credits-cast-header{
  padding: 16px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.total-cast-text{
  color: var(--grey);
}

.credits-cast-container{
  width: 100%;
  height: 100%;
}

.credits-cast{
  display: flex;
  flex-direction: column;
  padding: 7px 20px;
}

.credits-cast-card{
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--light-grey);
  width: 100%;
  font-size: 13px;
}

.credits-cast-card img{
  width: 100%;
  max-width: 60px;
  border-radius: 6px;
}

.credits-episode-count{
  color: var(--grey);
}

.load-more-btn-container{
  display: flex;
  justify-content: center;
  padding: 16px 20px;
}
#loadMoreBtn {
  display: none;
  width: 100%;
  padding: 15px 20px;
  background-color: var(--yellow);
  color: var(--background);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

/*** Person info page****/

.person-info-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 16px 20px;
}

.person-info-section h2, h3, h4{
  color: var(--white);
  font-style: bold;
}

.name_image{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.name_image img{
  width: 100%;
  border-radius: 10px;
}

.personal-info{
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  color: var(--grey);
}

.known-for-department, .gender, .birthdate, .birthplace{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#biography{
  color: var(--grey);
  display: flex;
  flex-direction: column;
  gap: 5px;
  line-height: 25px;
  width: 100%;
}

.read-more-button{
  background-color: transparent;
  border: none;
  color: var(--white);
  text-decoration: underline;
  cursor: pointer;
}

.known-for-container {
  width: 100%;
  color: var(--white);

}

.known-for-media {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#knownForSection {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.known-for-character{
  color: var(--grey);
  display: flex;
  justify-content: center;
}

.not-available{
  color: var(--grey);
  font-size: small;
}

/******Loader******/
#loader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: var(--background);
  margin-top: -60px;
}

.circles {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #FFAE00;
  border: 4px solid #FFAE00;
  opacity: 1;
}

@keyframes fade {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

.circle:nth-child(1) {
  animation: fade 2s infinite ease-in-out -.4s;
}

.circle:nth-child(2) {
  animation: fade 2s infinite ease-in-out -.2s;
}

.circle:nth-child(3) {
  animation: fade 2s infinite ease-in-out 0s;
}



/***Videos****/
.info-videos{
  padding: 16px 20px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-video-section{
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

#videoModalContainer{
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: var(--black-opacity);
  position: fixed;
  display: none;
}

.modal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}


.modal-title_close-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 16px;
  color: var(--white);
  max-width: 351px;
}


/* The Close Button */
.close {
  float: right;
  font-size: 22px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--grey);
  text-decoration: none;
  cursor: pointer;
}

.youtube-player {
  position: relative;
  padding-bottom: 45%;
  height: 0;
  overflow: hidden;
  min-width: 80%;
  max-width: 100%;
  background: var(--background);
  border-radius: 10px;
}



.youtube-player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

/*Play logo*/
.youtube-player .play {
  height: 48px;
  width: 68px;
  left: 50%;
  top: 50%;
  margin-left: -34px;
  margin-top: -24px;
  position: absolute;
  background: url('https://i.ibb.co/j3jcJKv/yt.png') no-repeat;
  cursor: pointer;
}

