.search-page-container {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}
.navbar-container {
  width: 100%;
  height: 105px;

}

.nav_sitename {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 49px;
}


a {
  text-decoration: none;
}

.nav-icon {
  font-size: 20px;
  color: var(--grey);
  padding: 1px 15px;
  cursor: pointer;
}

.searchbar {
  margin: 0 auto;
  position: relative;
  width: calc(100% - 20px);
}

#searchInput {
  background-color: var(--input-background);
  color: var(--grey);
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 7px;
  outline: none;
  text-indent: 33px;
  font-size: 16px;
}



#inputSearchIcon {
  color: var(--grey);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  margin-left: 10px;
  font-size: large;
}

.hide-element {
  display: none !important;
}

.content-container {
  width: 100%;
  color: var(--white);

}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  margin-bottom: 100px;
  margin-top: 20px;

}

.results-text_total-results{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#resultsText{
  font-size: large;
}

#totalResultsText{
  font-size: small;
  color: var(--grey);
}

.changeResultTypes{
  display: flex;
  gap: 5px;
}
.resultTypeButton{
  background-color: transparent;
  color: var(--grey);
  padding: 5px 10px;
  border: 1px solid;
  cursor: pointer;
}

#loadMovieBtn.active,
#loadTvBtn.active,
#loadPersonBtn.active{
  color: var(--yellow);
}

.search-results_skeleton{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#searchResult {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 100%;
}

#search-skeleton-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skeleton-search-card{
  display: flex;
  gap: 10px;
  color: var(--grey);
  background-color: var(--input-background);
  width: 100%;
  min-width: 360px;
  min-height: 150px;
  border-radius: 10px;
}

.skeleton-search-img{
  width: 100%;
  max-width: 100px;
  min-height: 150px;
  border-radius: 10px;
  background-color: var(--grey);
  background: var(--skeleton-gradient);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading-skeleton ease-in-out infinite;
}

.skeleton-search-text{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  min-width: 250px;
  
}

.skeleton-search-title{
  min-height: 19px;
  background-color: var(--grey);
  background: var(--skeleton-gradient);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading-skeleton ease-in-out infinite;
}

.skeleton-search-paragraph{
  min-height: 17px;
  max-width: 150px;
  background-color: var(--grey);
  background: var(--skeleton-gradient);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading-skeleton ease-in-out infinite;
}

@keyframes loading-skeleton {
    to {
      background-position-x: -20%;
    }
  }



.search-card {
  display: flex;
  gap: 10px;
  color: var(--grey);
  background-color: var(--input-background);
  width: 100%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.search-card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.search-card-title {
  color: var(--yellow);
  font-size: medium;
}

.search-card-info {
  color: var(--white);
  font-size: small;
}

.search-card-overview {
  font-size: small;
}

.search-card img {
  width: 100%;
  max-width: 100px;
  min-height: 150px;
  border-radius: 10px;

}

