@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --background: #060d17;
  --black: #000;
  --black-opacity: #00000088;
  --white: #fff;
  --yellow: #ffae00;
  --yellow-hover: #ffae00aa;
  --blue: #0051ff;
  --grey: #999c9f;
  --light-grey: #cccccc;
  --grey-opacity: #999c9f88;
  --input-background: #131a22;
  --footer-background: #161e27;
  --skeleton-background: #161e27;

  --skeleton-gradient: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--skeleton-background);

  @supports (-webkit-appearance: none) {
    :root {
      --skeleton-gradient: -webkit-linear-gradient(
          100deg,
          rgba(255, 255, 255, 0) 40%,
          rgba(255, 255, 255, 0.5) 50%,
          rgba(255, 255, 255, 0) 60%
        )
        var(--skeleton-background);
    }
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: "Lato", Arial, sans-serif;
}

.hide-element {
  display: none !important;
}

.lock-scroll {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
}
.navbar-container {
  width: 100%;
  height: 105px;
}

.nav_sitename {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 49px;
}

.site-name {
  color: var(--yellow);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.nav-icon {
  font-size: 20px;
  color: var(--grey);
  padding: 1px 15px;
  cursor: pointer;
}

.menu{
  display: flex;
  justify-content: flex-end;
}

#settingsMenu{
  width: 100%;
  max-width: 500px;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--input-background);
  z-index: 1000;
}

.show-menu{ 
  animation: menuSlideIn 0.2s forwards;
}

.hide-menu{
  animation: menuSlideOut 0.2s forwards;
}

/* Slide-in animation */
@keyframes menuSlideIn {
 from {
   right: -100%;
 }
 to {
   right: 0;
 }
}

/* Slide-out animation */
@keyframes menuSlideOut {
 from {
   right: 0;
 }
 to {
   right: -100%;
 }
}

#closeSettingsIcon{
  width: 5px;
  font-size: 20px;
  color: var(--white);
  padding: 20px 20px;
  cursor: pointer;
  position: absolute;
  top:0;
  right: 0;
}

#closeSettingsIcon:hover{
  color: var(--yellow);
}
.menu-options{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.menu-options ul{
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}

.menu-options ul li{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 1.3rem;
}
.menu-options ul li:hover{
  background-color: var(--background);  
}

.menu-options ul li a{
  color: var(--light-grey);
  width: 100%;
  padding: 30px 10px;
}
.menu-options ul li a:hover{
  color: var(--yellow);

}

.user{
  display: flex;
  align-items: center;
  background-color: var(--background);
  position:fixed;
  bottom: 0;
  width: 100%;
  max-width: 500px;
}

#loggedInUser{
  color: var(--white);
  padding: 20px 0px;
  width: 100%;
}

.logged-in-as{
  color: var(--light-grey);
  padding: 0px 10px;
}
#loggedInUserText{
  font-weight: bold;
  font-size: 20px;
  padding: 10px 10px;
}

#logOutBtn{
  background-color: var(--yellow);
  color: var(--background);
  width: 100px;
  height: 50px;
  margin: 10px 10px;
  border-radius: 6px;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

#logOutBtn:hover{
  background-color: var(--yellow-hover);
}

.searchbar {
  margin: 0 auto;
  position: relative;
  width: calc(100% - 20px);
}

#searchInput {
  background-color: var(--input-background);
  color: var(--grey);
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 7px;
  outline: none;
  text-indent: 33px;
  font-size: 16px;
}

#inputSearchIcon {
  color: var(--grey);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  margin-left: 10px;
  font-size: large;
}

.content-container {
  width: 100%;
  color: var(--white);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  margin-bottom: 100px;
}

.contentSections {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.tv-label {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: var(--black-opacity);
  color: var(--grey);
  padding: 2px 7px;
  font-size: 10px;
  border-radius: 5px;
}

.skeleton-poster-card {
  width: 100%;
  min-width: 130px;
  max-width: 130px;
  height: 195px;
  border-radius: 10px;
  background: var(--skeleton-gradient);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading-skeleton ease-in-out infinite;
  position: relative;
  overflow: hidden;
}

@keyframes loading-skeleton {
  to {
    background-position-x: -20%;
  }
}

.card {
  width: 100%;
  min-width: 130px;
  max-width: 130px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.footer-container {
  color: var(--grey);
  background-color: var(--footer-background);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  z-index: 10;
}

.header_logo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  margin-bottom: 30px;
}

.header_logo-container h5 a {
  color: var(--grey);
  text-decoration: underline;
}

.footer-container img {
  width: 100%;
  max-width: 100px;
}

.list-btn {
  position: absolute;
  left: 0px;
  top: -1px;
  color: var(--grey);
  opacity: 0.7;
  padding: 0px 7px;
  font-size: 27px;
  border: none;
  background: transparent;
  cursor: pointer;
}


.list-btn.active {
  color: var(--yellow);
  opacity: 1;
}

.add-to-watchlist-text {
  color: var(--grey);
}


/* Popup container */
#popup {
  position: absolute;
  background-color: white;  
  width: 100%;
  max-width: 130px; 
  padding: 10px 0px;
  bottom: -100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Popup message */
#popupMsg {
  color: black;
  text-align: center;
  font-size: 0.8rem;
}

.show-popup{ 
   animation: slideIn 0.2s forwards, slideOut 0.2s 1s forwards;
}

/* Slide-in animation */
@keyframes slideIn {
  from {
    bottom: -100px
  }
  to {
    bottom: 2px;
  }
}

/* Slide-out animation */
@keyframes slideOut {
  from {
    bottom: 2px;
  }
  to {
    bottom: -100px;
  }
}
