<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/loginPage.css">
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>Delete Account</title>
  </head>
  <body>
    <div class="delete-page-container">
      <nav class="navbar-container">
        <div class="nav_sitename">
          <i class="nav-icon fa-solid fa-bars"></i>
          <a href="/"><h2 class="site-name">MovieWorld</h2></a>
          <div class="user-settings">
            <i id="userSettingsIcon" class="nav-icon fa-solid fa-user"></i>
            <div id="settingsMenu" class="user-settings-content hide-element">
              <div id="loggedInUser">
                <p id="loggedInUserText">Not logged in</p>
              </div>
              <a href="">Watchlist</a>
              <a href="/login" id="settingsLoginLink" class="hide-element">Login</a>
              <a href="#" id="settingsLogoutLink" class="hide-element">Log Out</a>
              <a href="/delete_account" id="settingsDeleteLink">Delete account</a>
            </div>
          </div>
        </div>
        <form id="searchForm">
          <div class="searchbar">
            <i class="fa-solid fa-magnifying-glass" id="inputSearchIcon"></i>
            <input type="text" id="searchInput" placeholder="Search" />
          </div>
        </form>
      </nav>

      <div class="delete-form-container">
        <div class="delete-h1">
          <h1>Delete Account</h1>
      </div>
        <form id="delete-form">
            <div class="delete-inputs">
                <div class="username-input">
                    <input type="text" id="username" name="username" placeholder="Username:">
                </div>
                <div class="password-input">
                    <input type="password" id="pwd" name="pwd" placeholder="Password:" required>
                </div>

                <div id="authStatusPopupEl" class="hide-element">
                  <div class="auth-status-popup">
                    <div class="auth-message">
                      <p id="authMessage"></p>
                    </div>
                  </div>        
                </div>

                <div class="delete-actions">
                    <button type="submit" id="deleteAccountBtn" class="delete-button">Delete account</button>
                </div>
            </div>
        </form>
    </div>

      <footer class="footer-container">
        <div class="header_logo-container">
          <a href="https://www.themoviedb.org/"
            ><img src="/static/images/TMDb_primary_full_logo.svg" alt=""
          /></a>
          <h5>
            This website uses the TMDb API but is not endorsed or certified by
            <a href="https://www.themoviedb.org/">TMDb.</a>
          </h5>
        </div>
      </footer>
    </div>


    <!-- <script type="module" src="/static/js/main.js"></script> -->
    <script type="module" src="/static/js/auth.js"></script>
    <script
      src="https://kit.fontawesome.com/c385798621.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
