<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />

    <title>MovieWorld</title>
  </head>
  <body>
    <div class="landing-page-container">
      <nav class="navbar-container">
        <div class="nav_sitename">
          <i class="nav-icon fa-solid fa-bars"></i>
          <a href="/"><h2 class="site-name">MovieWorld</h2></a>
          <i id="userSettingsIcon" class="nav-icon fa-solid fa-user"></i>
        </div>
        <form id="searchForm">
          <div class="searchbar">
            <i class="fa-solid fa-magnifying-glass" id="inputSearchIcon"></i>
            <input type="text" id="searchInput" placeholder="Search" />
          </div>
        </form>
        <div class="menu">
          <div id="settingsMenu" class="hide-element">
            <i class="fa-solid fa-x" id="closeSettingsIcon"></i>
            <div class="menu-options">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Watchlist</a></li>
                <li><a href="/delete_account" id="settingsDeleteLink" class="hide-element">Delete account</a></li>
              </ul>
            </div>
            <div class="user">
              <div id="loggedInUser">
                <p class="logged-in-as">Logged in as:</p>
                <p id="loggedInUserText">Not logged in</p>
              </div>
              <button id="logOutBtn">Log In</button>
            </div>
          </div>
        </div>
      </nav>

      <main class="content-container">
        <section class="content">
          <h2 class="sectionHeadline">Trending today</h2>
          <section id="trendingSection" class="contentSections">
            <div class="skeleton-poster-card"></div>
            <div class="skeleton-poster-card"></div>
            <div class="skeleton-poster-card"></div>
          </section>

          <h2 class="sectionHeadline">Popular movies</h2>
          <section id="popularMoviesSection" class="contentSections">
            <div class="skeleton-poster-card"></div>
            <div class="skeleton-poster-card"></div>
            <div class="skeleton-poster-card"></div>
          </section>

          <h2 class="sectionHeadline">Top rated tv shows</h2>
          <section id="topRatedTvSection" class="contentSections">
            <div class="skeleton-poster-card"></div>
            <div class="skeleton-poster-card"></div>
            <div class="skeleton-poster-card"></div>
          </section>

          <h2 class="sectionHeadline">Upcoming movies</h2>
          <section id="upcomingSection" class="contentSections">
            <div class="skeleton-poster-card"></div>
            <div class="skeleton-poster-card"></div>
            <div class="skeleton-poster-card"></div>
          </section>

          <h2 class="sectionHeadline">Watchlist</h2>
          <section id="watchlistSection" class="contentSections">
            <div class="skeleton-poster-card"></div>
            <div class="skeleton-poster-card"></div>
            <div class="skeleton-poster-card"></div>
          </section>
        </section>
      </main>

      <footer class="footer-container">
        <div class="header_logo-container">
          <a href="https://www.themoviedb.org/"
            ><img src="/static/images/TMDb_primary_full_logo.svg" alt=""
          /></a>
          <h5>
            This website uses the TMDb API but is not endorsed or certified by
            <a href="https://www.themoviedb.org/">TMDb.</a>
          </h5>
        </div>
      </footer>
    </div>

    <script type="module" src="/static/js/main.js"></script>
    <script type="module" src="/static/js/auth.js"></script>
    <script
      src="https://kit.fontawesome.com/c385798621.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
